<% include ./partials/header %> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ira Creations</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/stylesheets/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div class="about-section">
            <div class="inner-container">
                <h1>
                    About Us
                </h1>
                <div class="text">
                    fvhbfuhvbfhbvhfbvhfbvhvhfbuvscsjhbshjcbhjdcbhjdbc<br>jhdbchbdhcbdhjcbdhjcbdhcbhjdcbdjhcbdhjcbdhjcbdjh<br>cbdhjcbhjsbdjhbshdbshdjsh.
                </div>
                <div class="skills">
                    <a href="https://www.instagram.com/ira.creation/?hl=en" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/rashi.gupta.946" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                    
                </div>
            </div>
        </div>

    
    </body>
<% include ./partials/footer %> 